.EXER{
    width: 600px;
    height: 200px;
    border: 1px solid rgb(233, 232, 232);
    border-radius: 10%;
    position: relative;
    background-color: white;
    right: 10px;
    top: 200px;
    left: 30%;
  }
  #plus{
    height: 3px;
    width: 3px;
    position: relative;
    top : 12px;
    left: 285px;

}
  
 
h2{
    position: relative;
      top : 2px;
      left: 7px;
      width: 520px;
    border: 1px solid rgb(233, 232, 232);
    background-color: rgb(230, 225, 225);


}

.right{
  background-color: white;
  position: absolute;
  top: 90px;
  right:192px;
  width: 20px;
  text-align: center;
}

input{
  height: 45px;
  width: 200px;
  border: none;
  font-size: 24px;
  text-align: center;
  background-color: white;
  margin-left: 6px;
  border: 1px solid rgb(233, 232, 232);
  
  }
  
#p1{
  position: relative;
  top : -19px;
  left: 10px;
  width: 200px;
  background-color: rgb(230, 225, 225);

}
#p2{
position: relative;
top : -19px;
left: 10px;
width: 200px;
background-color: rgb(230, 225, 225);

}
